In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/2020_reg_season_matches.csv')

In [3]:
df

,match_id,home_team,home_team_id,away_team,away_team_id,home_team_wins,away_team_wins,winning_team_id,losing_team_id,game_1_id,...,game_4_winning_team,game_4_losing_team,game_5_id,game_5_map,game_5_gametype,game_5_lang,game_5_home_score,game_5_away_score,game_5_winning_team,game_5_losing_team
0,1979,Dallas Empire,6,Chicago Huntsmen,8,1,3,8,6,0,...,8,6,4,Piccadilly,Search and Destroy,en-us,0,0,0,0
1,1962,Florida Mutineers,9,Seattle Surge,16,3,2,9,16,0,...,9,16,4,Rammaza,Search and Destroy,en-us,6,0,9,16
2,1982,Minnesota RÃ¸kkr,12,Los Angeles Guerrillas,11,3,1,12,11,0,...,12,11,4,Arklov Peak,Search and Destroy,en-us,0,0,0,0
3,1936,London Royal Ravens,10,New York Subliners,13,3,0,10,13,0,...,0,0,4,Arklov Peak,Search and Destroy,en-us,0,0,0,0
4,1969,Toronto Ultra,17,Seattle Surge,16,3,2,17,16,0,...,17,16,4,Rammaza,Search and Destroy,en-us,6,5,17,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,3642,Dallas Empire,6,Florida Mutineers,9,3,0,6,9,0,...,0,0,4,Arklov Peak,Search and Destroy,en-us,0,0,0,0
164,3637,Chicago Huntsmen,8,OpTic Gaming Los Angeles,14,1,3,14,8,0,...,14,8,4,Gun Runner,Search and Destroy,en-us,0,0,0,0
165,3643,Dallas Empire,6,Toronto Ultra,17,1,3,17,6,0,...,17,6,4,Piccadilly,Search and Destroy,en-us,0,0,0,0
166,3644,Atlanta FaZe,7,OpTic Gaming Los Angeles,14,3,0,7,14,0,...,0,0,4,Arklov Peak,Search and Destroy,en-us,0,0,0,0
167,3645,Toronto Ultra,17,Atlanta FaZe,7,3,2,17,7,0,...,7,17,4,St. Petrograd,Search and Destroy,en-us,6,5,17,7

In [15]:
df['home_team_won'] = np.where((df['winning_team_id'] == df['home_team_id']), 1, 0)

In [16]:
df['home_team_won']

0      0
1      1
2      1
3      1
4      1
      ..
163    1
164    0
165    0
166    1
167    1
Name: home_team_won, Length: 168, dtype: int64