In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/hardpoint.csv')

### Create 1 & 0 values for if the home team wins

In [18]:
df['home_team_won'] = np.where((df['winning_team_id'] == df['home_team_id']), 1, 0)

In [22]:
df.groupby('home_team_won').count()

,match_id,home_team,home_team_id,away_team,away_team_id,home_team_wins,away_team_wins,winning_team_id,losing_team_id,game_1_id,...,game_4_winning_team,game_4_losing_team,game_5_id,game_5_map,game_5_gametype,game_5_lang,game_5_home_score,game_5_away_score,game_5_winning_team,game_5_losing_team
home_team_won,,,,,,,,,,,,,,,,,,,,,
0,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
1,91,91,91,91,91,91,91,91,91,91,...,91,91,91,91,91,91,91,91,91,91

In [24]:
yeet = np.array([[1,2,3], [4,5,6], [7,8,9]])

In [28]:
for i in yeet:
    print(np.mean(i))

2.0
5.0
8.0